@font-face {
        font-family: "Alex";
        src: url("../Alex.ttf");
    }
body {
    
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Im Wunderland", cursive;
  font-size: 18px;
}


.arrowright {
  width: 0px; 
  height: 0px; 
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid rgb(126, 135, 151,0.9);
    margin-left: auto;
}

.arrowleft {
  width: 0; 
  height: 0; 
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent; 
    border-right:45px solid rgb(126, 135, 151,0.9); 
    margin-left: 475px;
}




#fullDiv {
text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
    margin-left:50px;
}

ul {
    margin-right: 0px;
  margin: 0;
  padding: 0;
}

li {
    

background-color: #424F64;
  float: left;
    color: white;
  display: block;
  width: 11%;
  text-align: center;
  list-style-type: none;
    font-size: 30px;
    margin: 5px;
    border-radius: 0px;
}

li:hover{
  border-radius: 15px;
  background-color: #7B8688;
  color: #ecf0f1;
}

h1{
    margin-left: 105px;
    margin-right: 105px;
background: rgb(126, 135, 151,0.7);
  border-radius:35px;
  padding:20px;
  font-size:140%;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#fff;
  cursor:default;
  text-shadow:0 0 10px rgba(0,0,0,.8);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background-image: url(fondodo.gif);
    background-size: 100%
}

#calendario{
    background-color: rgb(126, 135, 151,0.7);
  width: 400px;
  margin:0 auto;
  margin-top:5%;
  margin-bottom:5%;
    margin-left: 80px;
  border-radius:5px;
  font-family:'Open Sans',sans-serif;
  text-align:center;
  color:#555;
  
}

#calendario .current{
  background:#ee3333;
  font-weight:100;
  color:#fff;
  text-shadow:0 0 10px rgba(0,0,0,.5);
}

#calendario .hastask{
  font-weight:700;
}

#calendario tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
#calendario tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}